<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-instructor</title>
</head>
<body>
<form
        th:action="@{/{courseId}/{id}/updateInstructor(id=${instructor.id}, courseId=${courseId})}"
        th:object="${instructor}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="groupName" th:field="*{firstName}" placeholder="Group Name">
    <br><br>
    <input type="text" name="dateOfStart" th:field="*{lastName}" placeholder="Date Of Start">
    <br><br>
    <input type="text" name="image" th:field="*{phoneNumber}" placeholder="Image">
    <br><br>
    <input type="text" name="image" th:field="*{email}" placeholder="Image">
    <br><br>
    <input type="text" name="image" th:field="*{specialization}" placeholder="Image">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>